@media (max-width: 1348px)
    .container
        width: 1100px
    .movie-container
        padding: 0 65px
        grid-template-columns: 310px 310px 310px
@media (max-width: 1100px)
    .container
        width: 640px
    .movie-container
        padding: 0
        grid-template-columns: 310px 310px
@media (max-width: 700px)
    .container
        width: 310px
    .movie-container
        padding: 0
        grid-template-columns: 310px
