*
    padding: 0
    margin: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    background: linear-gradient(90deg, rgba(29,28,32,1) 34%, rgba(67,69,74,1) 100%)

body::-webkit-scrollbar
    width: 12px

body::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, 0.822)
    min-height: 40px
    &:hover
        background-color: darkgrey

.container
    width: 1300px
    margin: 0 auto

@import 'header'
@import 'movie-list'
@import 'movie-detail'
@import 'media'
